.container {
  height: 400px;
  padding: 16px;
}

.card_article {
  position: relative;
}

.card_img {
  width: 328px;
  border-radius: 1.5rem;
}

.card_info {
  background-color: white;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 15);
  border-radius: 1rem;
  margin-inline: auto;
}