.container {
  /* height: 400px; */
  padding: 16px;
}

.card_article {
  position: relative;
  /* width: 328px; */
}

.card_img {
  width:100%;
  display:block;
  /* width: 328px; */
  height: auto;
  border-radius: 1.5rem;
}

.card_info {
  background-color: white;
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 15);
  border-radius: 1rem;
  margin-inline: auto;
}

/* @media screen and (max-width: 768px) {
  .container {
    height: 300px;
    padding: 16px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    height: 300px;
    padding: 16px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    height: 400px;
    padding: 16px;
  }
} */